<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--<script src="core.js"></script> -->
<head>
	<title>Vehicle Finder</title>
</head>
<body>
	<h1>Vehicle Finder</h1>

	<div ng-app="myApp" ng-controller="personCtrl">

	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{fullName()}}

	</div>

	<script>
	//var pg = require('pg');
	//var app = angular.module('myApp', []);
	//var conString = 'postgres://jmjpstzyyzexxe:127c8c9e3b14656d5e45ae9fc2904a79c958c74612e63fdb5384d3986fe743ff@ec2-54-225-76-243.compute-1.amazonaws.com:5432/dbcd7ut9b6om9r';
	//var resultFinal;
	app.controller('personCtrl', function($scope) {

		/*pg.connect(conString, function(err, client, done) {
	    if (err) {
	      return console.error('error fetching client from pool', err);
	    }
	    console.log("connected to database");
	    client.query('SELECT name FROM vehicle', function(err, result) {
	      done();
				resultFinal = result;
	      if (err) {
	        return console.error('error running query', err);
	      }
			});
		});*/

	    $scope.firstName = "John";
	    $scope.lastName = "Doe";
	    $scope.fullName = function() {
	        return $scope.firstName + " " + $scope.lastName;
	    };
	});
	</script>

<div ng-app = "myApp2" ng-controller="myCtrl">
	<form method="get">
	Priority 1<br>
		<input type="radio" name="sort" value="high" checked ng-model="firstName"> Highest<br>
		<input type="radio" name="sort" value="low" ng-model="lastName"> Lowest<br>

		<select name="priority1">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
		<br>
		Vehicle: {{fullName()}}
	</form><br>
</div>

<script>
var express = require('express');
var router = express.Router();
var pg = require('pg');
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope) {
  pg.connect(conString, function(err, client, done) {
    if (err) {
      return console.error('error fetching client from pool', err);
    }
    console.log("connected to database");
    client.query('SELECT name FROM vehicle', function(err, result) {
      done();
      if (err) {
        return console.error('error running query', err);
      }
      $scope.fullName = function() {
        return result.rows[0].name + " " + result.rows[1].name;
      };
    });
  });
});
</script>

	<form method="get">
	Priority 2<br>
		<input type="radio" name="sort" value="high" checked> Highest<br>
		<input type="radio" name="sort" value="low"> Lowest<br>

		<select name="priority2">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
	</form><br>

	<form method="get">
	Priority 3<br>
		<input type="radio" name="sort" value="high" checked> Highest<br>
		<input type="radio" name="sort" value="low"> Lowest<br>

		<select name="priority3">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
	</form><br>

	<form method="get">
	Priority 4<br>
		<input type="radio" name="sort" value="high" checked> Highest<br>
		<input type="radio" name="sort" value="low"> Lowest<br>

		<select name="priority4">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
	</form><br>

	<form method="get">
	Priority 5<br>
		<input type="radio" name="sort" value="high" checked> Highest<br>
		<input type="radio" name="sort" value="low"> Lowest<br>

		<select name="priority5">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
	</form><br>

	<form method="get">
	Priority 6<br>
		<input type="radio" name="sort" value="high" checked> Highest<br>
		<input type="radio" name="sort" value="low"> Lowest<br>

		<select name="priority6">
			<option selected> </option>
			<option>Weight (lbs)</option>
			<option>Power (horsepower)</option>
			<option>Size (cubic feet)</option>
			<option>Speed (mph)</option>
			<option>Price ($)</option>
			<option>Fuel Economy (mpg)</option>
		</select>
	</form><br>


</body>
</html>
