<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Operation Result</h1>
	<p>Postage Cost of "<%= operation %>" of weight <%= weight %>oz is: $<%= result %></p>
</body>
</html>
